
<style>
    #eeeee{
        width: 100vw;
        object-fit: cover;

    }
</style>
<a href="https://github.com/BERAMEET7/PIZZA_APP">Contect Developer</a>
<img  id="eeeee" src="/img/404_not_found.jpeg" alt="error">
